<div>
    <div *ngIf="isAuth" fxLayout="column" fxLayoutGap="20px">
        <mat-list>
            <mat-list-item>
              <mat-icon matListIcon>local_activity</mat-icon>
              <a matLine routerLink="home/my-channels" (click)="onCloseSidenav()">My channels</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon matListIcon>subscriptions</mat-icon>
                <a matline routerLink="home/my-subscriptions" (click)="onCloseSidenav()">Subscriptions</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon matListIcon>perm_identity</mat-icon>
                <a matLine routerLink="home/profile" (click)="onCloseSidenav()">Profile</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon matListIcon>eject</mat-icon>
                <a matLine (click)="onLogout()" style="cursor: pointer;">Logout</a> 
            </mat-list-item>

            <mat-list-item>
                <mat-slide-toggle [checked]='themeMode' (click)="onDarkModeToggle()" (click)="onCloseSidenav()" color="primary">Dark Mode</mat-slide-toggle>
            </mat-list-item>
          </mat-list>
    </div>

    <div *ngIf="!isAuth" fxLayout="column" fxLayoutGap="20px">
        <a routerLink="signin" (click)="onCloseSidenav()" style="cursor: pointer;">Signin</a>
        <a routerLink="signup" (click)="onCloseSidenav()" style="cursor: pointer;">Signup</a>
    </div>
</div>
