

<section fxLayout="column" fxLayoutAlign="center center" style="margin-top: 80px;">
    <mat-card fxFlex="60">
        <div *ngIf="resetlink">
            <h3>Enter your email to get a password reset link sent to you</h3>
            <form fxLayout="column" (ngSubmit)="onSendResetLink(resetLinkForm)" #resetLinkForm="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input ngModel matInput type="email" name="email" email required #emailInput="ngModel">
                </mat-form-field>
                <button [disabled]="resetLinkForm.invalid" type="submit" mat-raised-button color="primary">Send Password Reset link</button>
            </form>
        </div>

        <div *ngIf="resetPassword">
            <h3>Enter and confirm your new password</h3>
            <mat-error *ngIf="!match">Passwords do not match!</mat-error>
            <form fxLayout="column" (ngSubmit)="onResetPassword(resetPasswordForm)" #resetPasswordForm="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Enter New password</mat-label>
                    <input ngModel name="password" #password="ngModel" required matInput minlength="8" type="password">
                    <mat-error *ngIf="password.hasError('required')" >Password field cannot be empty</mat-error>
                    <mat-error *ngIf="!password.hasError('required')">Password must be at least 8 characters long!</mat-error>

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Comfirm New password</mat-label>
                    <input ngModel name="cpassword" #cpassword="ngModel" required matInput minlength="8" type="password">
                    <mat-error *ngIf="password.hasError('required')" >Password field cannot be empty</mat-error>
                    <mat-error *ngIf="!password.hasError('required')">Password must be at least 8 characters long!</mat-error>
                </mat-form-field>
                <button [disabled]="resetPasswordForm.invalid" type="submit" mat-raised-button color="primary">Reset Password</button>
            </form>
        </div>
    </mat-card>
</section>