<div id="signinFormContainer" fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
    <mat-card *ngIf="isVerified" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-header>
            <small>Not registered yet? &nbsp;<a routerLink="/signup" mat-button color="primary" href="http://">signup!</a> </small>
        </mat-card-header>
        <mat-card-content>
            <form fxLayout="column" fxLayoutGap="10px" (ngSubmit)="onSubmit(signinform)" #signinform="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Enter email</mat-label>
                    <input ngModel name="email" #emailInput="ngModel" required email  matInput type="text" placeholder="Enter email">
                    <mat-hint>johndoe@email.com</mat-hint>
                    <mat-error *ngIf="emailInput.hasError('required')">Email field is required</mat-error>
                    <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Enter password</mat-label>
                    <input ngModel name="password" #password="ngModel" required matInput type="password" placeholder="Enter password">
                    <mat-error [hidden]="password.valid" >Password field cannot be empty</mat-error>
                </mat-form-field>
                <button  mat-raised-button color="primary" type="submit">Signin</button>
            </form>
        </mat-card-content>
        <mat-card-footer fxLayout="column" fxLayoutGap="10px">
            <a id="passwordReset" mat-button color="primary" routerLink="/forgot_password">forgot your password?</a>
            <!-- <p style="margin-top: 30px; text-align: center;"><b>OR</b></p> -->
        
            <!-- <div id="oauth" fxLayout.lt-md="column">
                <button mat-button style=" background-color: blue; color: white;">
                    <fa-icon [icon]="faFacebookF" [styles]="{ 'color': 'white','font-size':'1em'}"></fa-icon>
                    Sign in with facebook
                </button>
                <button mat-button style=" background-color: red; color: white;">
                    <fa-icon [icon]="faGoogle" [styles]="{ 'color': 'white','font-size':'1em'}"></fa-icon>
                    Sign in with google
                </button>
            </div> -->
        </mat-card-footer>
    </mat-card>

    <mat-card *ngIf="!isVerified">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <h3>You need to verify your account, check your email for a verification link</h3>
            <h3>OR</h3>
            <button mat-button style="background-color: #304FFE; color: white;" (click)="onSendVerificationEmail()">Resend Verification Link</button>
        </mat-card-content>
    </mat-card>
</div>
